<!-- About Section -->
<section class="alternate" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-dark">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>My scientific vision is to <b><u>bridge biology and computational science</u></b> to advance fundamental biological knowledge to <b><u>improve human health</u></b>. I am doing this by enhancing the understanding of cell death mechanisms by developing and applying innovative microscopy and machine learning techniques. I aim to provide critical insights into genetic neuronal pathologies such as Parkinson’s disease and Alzheimer’s disease by utilizing and developing systems biology approaches to <b><u>minimize human suffering.</u></b></p>
      </div>

    </div>
  </div>
</section>
