 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Real name Guillaume Bouvier. I'm a Programmer, Game Developper in any language from C/C++/C# to Python, Ruby and even Java. I worked for 8 years in a Mobile Video Game Company in Canada where I worked on everything from Physics, Graphics, AI to Camera, UI and everything in-between.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am looking for new challenges. I moved to Japan where I'm hoping to release my own products on as many platform as possible as well as taking up any contract or remote work that might fly my way. Don't hesitate to contact me if you have any questions.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/Ombarus" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Checkout my GitHub
                    </a>
                </div>
            </div>
        </div>
    </section>
