<!-- Certifications Section -->
<section class="success" id="certifications">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Certifications</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <ul class="list-unstyled">
          <li><a href="http://example.com/cert1">Data Analyst Nano-Degree</a> - ALX-Udacity, November 2022</li>
          <li><a href="http://example.com/cert2">Planning for Monitoring and Evaluation</a> - Philanthropy University, November 2020</li>
          <li><a href="http://example.com/cert3">The Fundamentals of Digital Marketing</a> - Google Digital Garage, October 2020</li>
          <li><a href="http://example.com/cert4">Jobberman Certified Soft Skills</a> - Coursera, September 2021</li>
        </ul>
      </div>
    </div>
  </div>
</section>
