<!-- Experience Section -->
<section class="success" id="experience">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Experience</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>TrafficCovert.ai USA</h3>
        <p><strong>Data Scientist (Remote Internship)</strong> | August 2023 - Present</p>
        <ul>
          <li>Build Python Analytics WebApps using Streamlit and Dash-Plotly</li>
          <li>Implement data-driven solutions and automate business processes</li>
          <li>Employ NLP for text analysis and integrate AI-driven features into products and services</li>
        </ul>
        <h3>Benue SFTAS, Nigeria</h3>
        <p><strong>Project Statistician</strong> | March 2021 - December 2023</p>
        <ul>
          <li>Designed Benue SFTAS Project working shape files, qualifying Benue for $2.5m World Bank grant</li>
          <li>Provided technical training on QGIS/QFIELD app for spatial data collection</li>
          <li>Analyzed field data and designed interactive dashboards for tracking project KPIs</li>
        </ul>
        <h3>Compaira, London, UK</h3>
        <p><strong>Volunteer Market Researcher (Remote)</strong> | May 2022 - September 2022</p>
        <ul>
          <li>Researched and created content on diverse and inclusive workforce practices</li>
          <li>Utilized networking and social media to increase Compaira's talent base across the UK</li>
        </ul>
      </div>
    </div>
  </div>
</section>
