<!-- Languages Section -->
<section class="success" id="languages">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Languages</h2>
          <hr class="star-light">
        </div>
      </div>

      <div class="row languages-row text-center">
        <div class="tile">
          <img src="img/portfolio/python.svg" alt="Python" class="language-logo" />
        </div>
        <div class="tile">
          <img src="img/portfolio/Bash.png" alt="Bash" class="language-logo" />
        </div>
        <div class="tile">
          <img src="img/portfolio/R.png" alt="R" class="language-logo" />
        </div>
        <div class="tile">
          <img src="img/portfolio/Git-Icon-1788C.png" alt="git" class="language-logo" />
        </div>
        <div class="tile">
          <img src="img/portfolio/SQL.png" alt="SQL" class="language-logo" />
        </div>
        <div class="tile">
          <img src="img/portfolio/HTML.png" alt="HTML5" class="language-logo" />
        </div>
        <!-- Add more logos as needed -->
      </div>
    </div>
</section>
