<div class="portfolio-modal modal fade" id="privacymots" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Privacy policy</h2>
						<hr class="star-primary">
						<p>
						Mots Etiquettes for Android
						</p><p>
                        Let's keep it simple. The only data I can know about you is what the platform publisher gives me (Steam, iOS, Android, Itch.io, etc.). I don't personally gather any information watsoever of any kind of any sort by any mean.
						</p><p>
						If I ever release an update that changes this situation. This policy will be updated and I will mention it in the release note for the update.
						</p>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
