<!-- Pricing Section -->
<section id="pricing">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Pricing</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <!-- Silver Package -->
      <div class="col-md-6 portfolio-item">
        <div class="pricing-link">
          <div class="caption">
            <div class="caption-content">
              <h3>Silver</h3>
              <p>$400</p>
              <ul>
                <li>1.5 hours</li>
                <li>1 dance mat</li>
                <li>10 songs</li>
              </ul>
              <p><br></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Gold Package -->
      <div class="col-md-6 portfolio-item">
        <div class="pricing-link">
          <div class="caption">
            <div class="caption-content">
              <h3>Gold</h3>
              <p>$500</p>
              <ul>
                <li>2 hours</li>
                <li>2 dance mats</li>
                <li>15 songs</li>
              </ul>
              <p>Save $125</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Platinum Package -->
      <div class="col-md-6 portfolio-item">
        <div class="pricing-link">
          <div class="caption">
            <div class="caption-content">
              <h3>Platinum</h3>
              <p>$700</p>
              <ul>
                <li>3 hours</li>
                <li>2 dance mats</li>
                <li>20 songs</li>
                <li>3 additional custom songs</li>
                <li>Travel fee waived up to 25 miles</li>
              </ul>
              <p>Save $270</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Diamond Package -->
      <div class="col-md-6 portfolio-item">
        <div class="pricing-link">
          <div class="caption">
            <div class="caption-content">
              <h3>Diamond</h3>
              <p>$1000</p>
              <ul>
                <li>5 hours</li>
                <li>2 dance mats</li>
                <li>25 songs</li>
                <li>8 additional custom songs</li>
                <li>Travel fee waived up to 55 miles</li>
              </ul>
              <p>Save $550</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>