<!-- Publications Section -->
<section class="alternate" id="presentations">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Presentations</h2>
        <hr class="star-dark">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-lg-offset-2">
        <ul>
            <li>
                <p>Center for Health Artificial Intelligence Retreat, Poster, Aug. 17, 2024, Denver, CO</p>
            </li>
            <li>
                <p>Computational Systems for Integrative Genomics, Talk, Jul. 18, 2024, New York, NY</p>
            </li>
            <li>    
                <p>American Society for Cell Biology Cell Bio conference, Poster, Dec, 3, 2023, Boston, MA</p>
            </li>
            <li>    
                <p>Center for Health Artificial Intelligence Retreat, Talk, Aug. 19, 2023, Aurora, CO</p>
            </li>
            <li>
                <p>Cell Biology, Stem Cells, and Development Retreat, Poster, Oct. 13, 2024, Breckinridge, CO</p>
            </li>
        </ul>
      </div>
    </div>
  </div>
</section>
