<!-- Publications Section -->
<section class="success" id="publications">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Publications</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row" id="publications">
      <!-- <div class="col-lg-2 col-lg-offset-1"> -->
        <div class="col-sm-12">
        <p><strong>A morphology and secretome map of pyroptosis</strong></p>
        <p><b>Lippincott MJ</b>, Jenna Tomkinson, Dave Bunten, Milad Mohammadi, Johanna Kastl,
            Johannes Knop, Ralf Schwandner, Jiamin Huang, Grant Ongo, Nathaniel Robichaud,
            Milad Dagher, Masafumi Tsuboi, Carla Basualto-Alarcón, Gregory P. Way
        </p>
        <p>In Review at Cell Systems, available at: <a href="https://doi.org/10.1101/2024.04.26.591386" target="_blank"class="custom-link">bioRxiv</a></p>

    </div>
  </div>
</section>
