<!-- Publications Section -->
<section class="success" id="publications">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Publications</h2>
          <hr class="star-light">
        </div>
      </div>
      <div class="row" id="publications">
        <div class="col-sm-12">
          <ul>
            
            <li>
              <strong><u>A morphology and secretome map of pyroptosis</u></strong>
              <p>
                <b><u>Lippincott MJ</u></b>, Jenna Tomkinson, Dave Bunten, Milad Mohammadi, Johanna Kastl,
                  Johannes Knop, Ralf Schwandner, Jiamin Huang, Grant Ongo, Nathaniel Robichaud,
                  Milad Dagher, Masafumi Tsuboi, Carla Basualto-Alarcón, Gregory P. Way
              </p>
              <p>In Review at Cell Systems, available at: <a href="https://doi.org/10.1101/2024.04.26.591386" target="_blank" class="custom-link"><u>bioRxiv</u></a></p>
            </li>
            
            <li>
              <strong><u>Protein prediction models support widespread post-transcriptional regulation of protein abundance by interacting partners.</u></strong>
              <p>Srivastava H, <b><u>Lippincott MJ</u></b>, Currie J, Canfield R, Lam MPY, et al. (2022) 
              </p>
              <p>PLOS Computational Biology: <a href="https://doi.org/10.1101/2024.04.26.591386" target="_blank" class="custom-link"><u>PLOS Computation Biology</u></a></p>
            </li>
            
            <li>
              
                <strong><u>Genetic and Epigenetic Inheritance at Telomeres.</u></strong>
              <p>Lister-Shimauchi EH, McCarthy B, <b><u>Lippincott MJ</u></b>, Ahmed S. 
              </p>
              <p>Epigenomes: <a href="https://doi.org/10.3390/epigenomes6010009" target="_blank" class="custom-link"><u>Epigenomes</u></a></p>
            
            </li>
          </ul>
        </div>
      </div>
    </div>
</section>
