<!-- Repositories Section -->
<head>
    <link rel="stylesheet" href="{{ " style.css " }}">
  </head>
  <section class="alternate" id="repositories">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Repositories</h2>
            <hr class="star-dark">
          </div>
        </div>
        <div class="row" id="repo-tiles">
          <!-- Repository tiles will be inserted here -->
          <div class="col-lg-6 col-md-6 col-sm-12 mb-6">
            <div class="repo-tile ">
              <a href="https://github.com/WayScience/pyroptosis_signature_image_profiling" target="_blank">
                <img class="card-img-top repo-img-dark" 
                alt="WayScience/pyroptosis_signature_image_profiling" 
                src="https://github-readme-stats.vercel.app/api/pin/?username=WayScience&amp;repo=pyroptosis_signature_image_profiling&amp;theme=dark&amp;show_owner=true">
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 mb-6">
            <div class="repo-tile">
              <a href="https://github.com/WayScience/pyroptosis_signature_data_analysis" target="_blank">
                <img class="card-img-top repo-img-dark"
                alt="WayScience/pyroptosis_signature_data_analysis"
                src="https://github-readme-stats.vercel.app/api/pin/?username=WayScience&amp;repo=pyroptosis_signature_data_analysis&amp;theme=dark&amp;show_owner=true">
              </a>
            </div>
          </div>
  
          <div class="col-lg-6 col-md-6 col-sm-12 mb-6">
            <div class="repo-tile">
              <a href="https://github.com/WayScience/live_cell_timelapse_apoptosis" target="_blank">
                <img class="card-img-top repo-img-dark"
                alt="WayScience/live_cell_timelapse_apoptosis"
                src="https://github-readme-stats.vercel.app/api/pin/?username=WayScience&amp;repo=live_cell_timelapse_apoptosis&amp;theme=dark&amp;show_owner=true">
              </a>
            </div>
        </div>
  
        <div class="col-lg-6 col-md-6 col-sm-12 mb-6">
          <div class="repo-tile">
            <a href="https://github.com/WayScience/live_cell_timelapse_apoptosis_analysis"
                target="_blank">
                    <img class="card-img-top repo-img-dark"
                    alt="WayScience/live_cell_timelapse_apoptosis_analysis"
                    src="https://github-readme-stats.vercel.app/api/pin/?username=WayScience&amp;repo=live_cell_timelapse_apoptosis_analysis&amp;theme=dark&amp;show_owner=true">
                </a>
            </div>
        </div>
  
        <div class="col-lg-6 col-md-6 col-sm-12 mb-6">
          <div class="repo-tile">
            <a href="https://github.com/WayScience/MNIST_TD-VAE"
              target="_blank">
                  <img class="card-img-top repo-img-dark"
                  alt="WayScience/MNIST_TD-VAE"
                  src="https://github-readme-stats.vercel.app/api/pin/?username=WayScience&amp;repo=MNIST_TD-VAE&amp;theme=dark&amp;show_owner=true">
              </a>
          </div>
          </div>
  
  
  
          <div class="col-lg-6 col-md-6 col-sm-12 mb-6">
            <div class="repo-tile">
              <a href="https://github.com/WayScience/Kan_we_predict_phenotypes"
                  target="_blank">
                      <img class="card-img-top repo-img-dark"
                      alt="WayScience/Kan_we_predict_phenotypes"
                      src="https://github-readme-stats.vercel.app/api/pin/?username=WayScience&amp;repo=Kan_we_predict_phenotypes&amp;theme=dark&amp;show_owner=true">
                  </a>
              </div>
          </div>
        </div>
      </div>
      </section>
  <!-- End Repositories Section -->
  
